.dashboard {
  $border-radius: 1.125rem;
  $gap-separation: 1.5rem;
  margin: 2rem;

  display: grid;
  gap: $gap-separation;

  .user-header {
    $padding: 1.75rem;
    background-color: $dark-blue;
    border-radius: $border-radius;

    .user-data {
      padding: $padding;
      border-radius: $border-radius;
      background-color: $blue;

      display: grid;
      gap: 0 1rem;
      grid-template-columns: auto auto;
      grid-template-rows: repeat(2, auto);
      align-items: center;

      .user-image {
        width: 4.5rem;
        border-radius: 50%;

        border: 3px solid white;
        grid-row: span 2;
      }

      .user-name {
        font-weight: 200;
        font-size: 1.125rem;
      }

      span {
        color: $pale-blue;
        font-size: 0.75rem;
        align-self: flex-end;
      }

      @media screen and (min-width: $tablet_breakpoint) {
        .user-image {
          justify-self: end;
        }
      }

      @media screen and (min-width: $desktop_breakpoint) {
        max-width: 16rem;
        grid-template-columns: auto;
        padding-bottom: 5.6rem;

        .user-image {
          margin-bottom: 2.6rem;
          width: 5.1rem;
        }

        .user-name {
          font-size: 2rem;
          align-self: flex-start;
        }
      }
    }

    .timeframe-selector {
      padding: 1.75rem $padding;
      padding-top: 1rem;
      border-radius: $border-radius;
      display: flex;
      justify-content: space-between;

      background-color: $dark-blue;

      .radio-container {
        *:hover {
          color: white;
          cursor: pointer;
        }

        display: flex;
        flex-direction: column;
        color: $desaturated-blue;

        input[type='radio'] {
          opacity: 0;
        }

        input[type='radio']:checked + label {
          color: white;
        }
      }

      @media screen and (min-width: $tablet_breakpoint) {
        justify-content: space-evenly;
      }

      @media screen and (min-width: $desktop_breakpoint) {
        flex-direction: column;
      }
    }
  }

  .dashboard-content {
    display: grid;
    gap: $gap-separation;
  }

  @media screen and (min-width: $tablet_breakpoint) {
    .dashboard-content {
      grid-template-columns: repeat(2, auto);
    }
  }

  @media screen and (min-width: $desktop_breakpoint) {
    grid-template-columns: 16rem auto;

    .dashboard-content {
      grid-template-columns: repeat(3, auto);
      grid-template-rows: repeat(2, auto);
    }
  }
}
