.dashboard {
  $border-radius: 1.125rem;
  margin: 2rem;

  display: grid;
  gap: 1.5rem;

  .user-header {
    $padding: 1.75rem;
    background-color: $dark-blue;
    border-radius: $border-radius;

    .user-data {
      padding: $padding;
      border-radius: $border-radius;
      background-color: $blue;

      display: grid;
      gap: 0 1rem;
      grid-template-columns: auto auto;
      grid-template-rows: repeat(2, auto);
      align-items: center;

      .user-image {
        width: 4.5rem;
        border-radius: 50%;

        border: 3px solid white;
        grid-row: span 2;
      }

      .user-name {
        font-weight: 200;
        font-size: 1.125rem;
      }

      span {
        color: $pale-blue;
        font-size: 0.75rem;
        align-self: flex-end;
      }
    }

    .timeframe-selector {
      padding: 1.75rem $padding;
      padding-top: 1rem;
      border-radius: $border-radius;
      display: flex;
      justify-content: space-between;

      background-color: $dark-blue;

      .radio-container {
        *:hover {
          color: white;
          cursor: pointer;
        }

        display: flex;
        flex-direction: column;
        color: $desaturated-blue;

        input[type='radio'] {
          opacity: 0;
        }

        input[type='radio']:checked + label {
          color: white;
        }
      }
    }
  }

  .dashboard-content {
    display: grid;
    gap: 1.375rem;
  }
}
