.time-display {
  $title-size: 1.125rem;
  position: relative;
  min-width: 16rem;

  border-radius: $title-size;

  padding-top: 2.6rem;
  overflow: hidden;

  @each $id, $color in $activity-card_colors {
    &#{$id} {
      background: linear-gradient(to bottom, $color, 85%, $dark-blue);
    }
  }

  &__above-header {
    height: auto;
    position: absolute;
    z-index: 500;
    top: 0;
    right: 1rem;
  }

  .wrapper {
    position: relative;
    z-index: 1000;

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: lighten($dark-blue, 10);
    }

    & :not(&, .extra-menu, .extra-menu *):hover,
    & :not(&, .extra-menu, .extra-menu *):focus {
      cursor: auto;
      background-color: $dark-blue;

      &::before {
        pointer-events: none;
        content: '';
        border-radius: $title-size;
        z-index: -10;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: inherit;
      }
    }

    background-color: $dark-blue;
    border-radius: $title-size;

    padding: 2rem 1.5rem;

    display: grid;

    grid-template-areas:
      'header header'
      'content footer';

    gap: 1.1rem;

    @media screen and (min-width: $desktop_breakpoint) {
      grid-template-areas:
        'header'
        'content'
        'footer';
    }
  }

  &__header {
    grid-area: header;
    font-size: $title-size;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn {
      background: none;
      border: none;

      &:hover {
        cursor: pointer;
      }
    }

    .extra-menu {
      height: auto;
      width: 1.5rem;

      &:hover,
      &:focus {
        img {
          filter: brightness(4);
        }
      }

      img {
        z-index: 500;
      }
    }
  }

  &__content {
    grid-area: content;
    font-weight: 300;
    font-size: 1.5rem;
    align-self: center;
    justify-self: start;

    @media screen and (min-width: $desktop_breakpoint) {
      font-size: 2.4rem;
      margin-top: 1.4rem;
    }
  }

  &__footer {
    grid-area: footer;
    font-size: 0.75rem;
    color: $pale-blue;
    align-self: center;
    justify-self: end;

    @media screen and (min-width: $desktop_breakpoint) {
      justify-self: start;
    }
  }
}
